html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #fafafa;

}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background: white !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.row.fixed-top {
    height: 4em;
    background: white !important;
}

.navbar .container-fluid form button {
    margin-right: 5em !important;
}

a.navbar-brand.ms-5 {
    margin-left: 10em !important;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin: auto;
    text-align: center;
}

.row .home .right {
    margin-top: -3em !important;
    margin-right: 10em;
    height: 45em;

}

.row .home .right img {
    scale: 0.8;
    width: 189%;
    height: 130%;
}

.row .home .left {
    height: 25em;
    margin-left: 4em;
    margin-top: 12em;
    padding-left: 5.2em;
}

.row .home .left h1 {
    font-size: 3em;
}

.row .home .left p {
    font-size: 1.12em;
    padding: 5px;
}

.row .home .left .btn {
    margin: 0px !important;
}

.btn-success {
    background: linear-gradient(to right, #32cd76, #9198e5);
    border: none;
    border-radius: 3em;
    padding: 10px 30px;

}

/* ///////////////////////////////////////////////////////// */
.row .about {}

#about {
    width: 104%;
}


section.ss {
    background-color: #f4f5f7;
    height: 33em;
}

section.ss .card {
    background-color: #f4f5f7;
    border: none !important;
}

section.ss .card h3 {
    font-size: 1.5em !important;
    padding: 0.5em 0;
}

section.ss.card p {}

section.ss .card img {
    width: 4em;
    padding: 1rem 0em;
}

/* ///////////////////////////////////////////// */

section#blog {
    background-color: #fafafa;
    height: 40em;
}

img.card-img-top {
    height: 10em;
    width: 100%;
}

.card.col-lg-3.col-md-6.col-12 {
    border: none;
    margin-right: 1em;
    background: white;
    width: 16em;
}

.card.col-lg-3.col-md-6.col-12 h3 {
    font-size: 1.2em;
}

/* //////////////////////////////////////// */

footer img.d-block {
    display: block !important;
    scale: 2;
    margin-bottom: 1em;
    margin-left: 5em;
}

footer {
    background-color: #2d314e;
}

footer .logo ul {
    list-style: none;
    display: flex;
}

footer .logo ul li {
    text-decoration: none;
    margin-left: 1em;

}

footer .fir ul,
footer .sec ul {
    list-style: none;
    color: white;
}

footer .fir ul li,
footer .sec ul li {
    text-decoration: none;
    margin-top: 0.5em;

}

footer .last button {
    margin-left: 12em;
}

footer .last h6 {
    color: white;
    margin-left: 12em;
    margin-top: 0.8em;
}


footer .logo,
footer .fir,
footer .sec,
footer .last {
    padding-top: 3em;
    padding-bottom: 3em;
}




/* media////////////////// */


@media (max-width:1280px) {
    .row .home .right {
        margin-top: -3em !important;
        margin-right: 3em;
        height: auto;
    }

    .row .home .left {
        height: auto;
        width: 23em;
        margin-top: 12em;
        margin-left: 1em;

    }

    section#blog {
        height: auto;
        margin-bottom: 2em;
    }

    #blog .row {
        justify-content: space-around;

    }

    .card.col-xl-3.col-md-5.col-12 {
        margin-bottom: 2em;
    }








    .row .home .left h1 {
        font-size: 2.31em;
    }
}

@media (max-width:992px) {



    .row .home .left {
        order: 2;
        height: auto;
        margin-bottom: 2em;
    }

    .col-lg-6.col-10.about.mb-5.d-block {
        margin-top: 2em;
    }

    .row .home .left p {
        width: 70%;
    }

    .row .home .left h1 {
        font-size: 2.5em;
    }

    section.ss {
        background-color: #f4f5f7;
        height: 47em;
        width: 100%;
    }

    section#about {
        width: 100%;
        height: auto;
    }

    section#blog {

        height: 74em;
    }

    .card.col-xl-3.col-md-5.col-12 {
        margin: auto;
        margin-top: 2em;
    }

    footer .fir ul,
    footer .sec ul {
        margin-left: 8em;
        width: 10em;
        list-style: none;
        color: white;
    }

    footer .logo,
    footer .fir,
    footer .sec,
    footer .last {
        padding-top: 3em;
        padding-bottom: 3em;
        margin-left: -7em;
    }

    footer .logo ul {
        list-style: none;
        display: flex;
        margin-left: 2em;
    }

    footer img.d-block {
        display: block !important;
        scale: 2;
        margin-bottom: 1em;
        margin-left: 9em;
    }
}

@media (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .row .home .left {
        order: 2;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 3em;

    }

    .row .home .left p {
        width: 90%;
    }

    button.navbar-toggler {
        margin-right: 0em !important;
    }


    footer .logo ul {
        margin-left: 3em;
    }


    footer .fir ul,
    footer .sec ul {
        margin: auto;
        color: white;

    }


    footer .fir ul li,
    footer .sec ul li {
        margin-top: 14px;
    }

    footer img.d-block {
        display: block !important;
        scale: 1.5;
        margin-bottom: 1em;
        margin-left: 7em;
    }

    .last {


        padding: 1em;
    }

    .col-lg-6.col-10.about.mb-5.d-block {
        margin-top: 2em;
    }

    .row .home .left {
        order: 2;
        height: auto;
        padding-bottom: 21px;

        width: 35em;

    }

    section#blog {
        height: auto;
    }

    .col-md-3.col-12 {
        width: 35% !important;
        padding: 0;
        margin: auto;
    }

    .col-md-2.col-12 {
        width: 10% !important;
        margin: auto;
    }




}

@media (max-width:576px) {
    body {
        overflow-x: hidden;
    }

    .row .home .left {
        order: 2;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 3em;

    }

    .row .home .left p {
        width: 90%;
    }

    button.navbar-toggler {
        margin-right: 0em !important;
    }



    footer .logo ul {
        margin: 0;
    }

    footer .fir ul,
    footer .sec ul {
        margin: auto;
        color: white;
    }

    .col-lg-6.col-10.about.mb-5.d-block {
        margin-top: 2em;
    }

    footer .logo ul {
        list-style: none;
        display: flex;

    }

    .col-md-2.col-12 {
        width: 100% !important;
        padding: 0;
        margin: auto;
    }

    footer .fir ul li,
    footer .sec ul li {
        margin-top: 14px;
    }

    footer .logo,
    footer .fir,
    footer .sec,
    footer .last {
        padding-top: 0em;
        padding-bottom: 1em;
        margin-left: -7em;
    }

    footer img.d-block {
        margin: auto;
        margin-top: 0em;
        padding: 2em;
    }

    .col-md-5.col-12 .last {
        margin-left: -10em;

    }

}

@media (max-width: 370px) {
    .row .home .left {
        order: 2;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 1em;
        margin-left: -45px;
    }

    section.ss .card {
        background-color: #f4f5f7;
        border: none !important;
        width: 90%;
    }

    section#about {
        width: 100%;
        margin-bottom: 0em;
    }

    section#about {
        height: auto;
    }

    section#blog {
        height: auto;
        margin-bottom: 2em;
    }

    footer .logo ul {
        margin: 0;
    }

    footer .fir ul,
    footer .sec ul {
        margin: auto;
        color: white;
    }

    .col-lg-6.col-10.about.mb-5.d-block {
        margin-top: 2em;
    }

    footer .logo ul {
        list-style: none;
        display: flex;

    }

    .col-md-2.col-12 {
        width: 100% !important;
        padding: 0;
        margin: auto;
    }

    footer .fir ul li,
    footer .sec ul li {
        margin-top: 14px;
    }

    footer .logo,
    footer .fir,
    footer .sec,
    footer .last {
        padding-top: 0em;
        padding-bottom: 1em;
        margin-left: -7em;
    }

    footer img.d-block {
        margin: auto;
        margin-top: 0em;
        padding: 2em;
    }

    .col-md-5.col-12 .last {
        margin-left: -10em;

    }


}








.card .card-body h3:hover{

    color: #3dc191;
    cursor: pointer;

}



ul li:hover {

    color: #3dc191;
    cursor: pointer;
}

a.nav-link {
    transition: all 0.1s;
}

a.nav-link:hover {
    color: black;
    padding-bottom: 4px;
    border-bottom: 4px solid #32cd76;
}

.navbar .container-fluid form button:hover {
    background-color: white;

    opacity: 0.6;
}

button.btn.btn-success.ms-5:hover {
    background-color: white;

    opacity: 0.6;
}

button.btn.btn-success:hover {
    background-color: white;

    opacity: 0.6;
}
